<section class="section-container">
  <!-- Page content-->
  <div class="content-wrapper">
<div class="card card-default">
  <div class="card-header custom-header">
      <div class="card-header blue-text">Heatmap</div>
      <div class="card card-default" style="overflow: hidden!important">

          <div class="card-body custom-bgcolor">
<div id="floating-panel">
  <button (click)="toggleHeatmap()">Toggle Heatmap</button>
  <button (click)="changeGradient()">Change gradient</button>
  <button (click)="changeRadius()">Change radius</button>
  <button (click)="changeOpacity()">Change opacity</button>
</div>
<div id="map"></div>
</div>
</div>
</div>
</div>
</div>
</section>

